<div class="row-fluid" id="side_bar_plugin_cExt">
	<button class="btn" data-bind="click: set_z_zero">set Z(0)</button>
	<button class="btn btn-block" data-bind="click: probe">Probe</button>
	<button class="btn btn-block" data-bind="click: probe_fine">Probe Fine</button>
	<button class="btn btn-block" data-bind="click: z_hop">z_hop</button>
</div>
